@page
@model Vehicle_Parking_Management_System.Pages.Admin.UserManagementModel

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>User Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Management</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
 <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">


            <div class="card">
              <div class="card-header">
                <h3 class="card-title">User Management Data table</h3> 
              <button class="btn btn-success btn-xs" style="margin-left: 95%" data-toggle="modal" data-target="#add"><i class="fa fa-plus"></i> Add</button>
                </div>
                
                
<!-- /.card-header -->
<div class="card-body">

    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Fullname</th>
                <th>Username</th>
                <th>Contact</th>
                <th>Email</th>
                <th>User Category</th>
                <th>Status</th>
                <th width="7%"></th>
            </tr>
        </thead>
        <tbody>
           
                @foreach(var item in Model.users)
                {
                 <tr>
                 <td hidden> @item.Id</td>
                 <td><img src="../dist/img/avatar.png" class="img-square elevation-3" style="width:50px;  border-radius:10%;" alt="User Image">   </td>
                <td>@item.FirstNmae   @item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td><i style="color: blue"><u>data</u></i></td>
                <td>Data</td>
                <td>Data</td>
                 <td><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></button> <button class="btn btn-danger btn-xs" asp-route-id="@item.Id"><i class="fa fa-trash"></i></button></td>
                </tr>
               }

          
        </tbody>
       
    </table>
                            <div class="modal fade" id="edit">
                                <div class="modal-dialog modal-md">
                                    <form method="post">
                                        
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Update User</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <input asp-for="user.Id" hidden/>
                                            <div class="card card-primary">
                                                <div class="card-body">
                                                    <div class="row">
                                                        @*<div class="col-12">
                                                            <div class="form-group">
                                                                <label asp-for="user.FirstNmae">Complete Name</label>
                                                                <input asp-for="user.FirstNmae" type="text" class="form-control" id=""         >
                                                            </div>
                                                        </div>*@
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label asp-for="user.FirstNmae">First Name</label>
                                                                <input type="text" class="form-control" id="" asp-for="user.FirstNmae">
                                                            </div>
                                                        </div>
                                                         <div class="col-6">
                                                            <div class="form-group">
                                                                <label asp-for="user.LastName">Last Name</label>
                                                                <input type="text" class="form-control" id="" asp-for="user.LastName">
                                                            </div>
                                                        </div>

                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Phone</label>
                                                                <input type="text" class="form-control" id="" asp-for="user.PhoneNumber">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Email</label>
                                                                <input type="text" class="form-control" id="" asp-for="user.Email">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Username</label>
                                                                <input type="text" class="form-control" id="" asp-for="user.Email">
                                                            </div>
                                                        </div>
                                                        @*<div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Password</label>
                                                                <input type="password" class="form-control" id="" placeholder="Enter Password ..">
                                                            </div>
                                                        </div>*@
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Category</label>
                                                                <input asp-for="UManagement.UserCategory" class="form-control" id="" placeholder="Enter User Category ..">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label>Select Status</label>
                                                                <select class="form-control">
                                                                    <option value="Active" name="Status">Active</option>
                                                                    <option value="Active" name="Status">Inactive</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" id="customFile">
                                                                    <label class="custom-file-label" for="customFile">Avatar</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
   
